= semantic_form_for @list do |f|
  -if @list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :name
  %fieldset
    %ol
      %li
        = f.label :color, :style => 'width: 25%'
        = color_dropdown(f)
  = f.buttons :commit
