%h3= link_to "My Lists", lists_path
%ul
  - current_user.lists.each do |list|
    %li
      = color_box(list.color.hex)
      = link_to list.name, list
%ul.options
  %li= link_to "Add List", new_list_path
  %li= link_to "Manage Lists", lists_path
  
%h3= link_to "My Events", tasks_path
%ul
  - current_user.events.each do |event|
    %li= event.name
%ul.options
  %li= link_to "Add Event", new_event_path
  %li= link_to "Manage Event", events_path
 
%h3= link_to "My Tasks", tasks_path
%ul
  - current_user.tasks.each do |task|
    %li= task.name
%ul.options
  %li= link_to "Add Task", new_task_path
  %li= link_to "Manage Tasks", tasks_path
 
%h3= link_to "My Groups", groups_path
%ul
  - current_user.groups.each do |groups|
    %li= groups.name
%ul.options
  %li= link_to "Add Group", new_group_path
  %li= link_to "Manage Groups", groups_path

%h3= link_to "My Categories", categories_path
%ul
  - current_user.categories.each do |category|
    %li= category.name
%ul.options
  %li= link_to "Add Category", new_category_path
  %li= link_to "Manage Categories", categories_path
  
%h3= link_to "My Tags", tags_path
%ul
  - current_user.tags.each do |tag|
    %li= tag.name
%ul.options
  %li= link_to "Add Tag", new_tag_path
  %li= link_to "Manage Tags", tags_path