!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= page_title
    = stylesheet_link_tag :all
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/sunny/jquery-ui.css"
    = formtastic_stylesheet_link_tag

    = csrf_meta_tag
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"
    = javascript_include_tag "rails", "application.js", "event_calendar", "timepicker"
    

  %body
    #container
      #header
        #user_nav
          = user_nav
        #main_menu
          = main_nav
          %p.clear
      
      %p.notice= notice
      %p.alert= alert
      
      #sidebar
        - if @content_for_sidebar
          = content_for :sidebar
        - elsif current_user
          = render 'shared/sidebar'
        - else
          %p Sidebar
      #content
        = yield
        
      %p.clear